{% extends "base.html" %}


{% block styles %}
  {{ super() }}
<link rel="stylesheet" rel="preload" as="style" media="all" href="thirdparty/tablesorter/dist/css/jquery.tablesorter.pager.min.css">
<link rel="stylesheet" rel="preload" as="style" media="all" href="thirdparty/tablesorter/dist/css/theme.blackice.min.css">
<link rel="stylesheet" rel="preload" as="style" media="all" href="thirdparty/tablesorter/dist/css/theme.blue.min.css">
<style type="text/css">

table.resultstable, table.counttable {
    overflow-x: auto;
}

.pager1{
    display: none!important;
}

.pagerSavedHeightSpacer {
    display: none!important;
}
.resultstable_wrapper, .counttable_wrapper {
    overflow-x: auto;
}

/* General form styling */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style for form group */
.form-group {
    margin-bottom: 20px;
    position: relative;
}

/* Label styling */
label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 500;
}

/* Select styling */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    appearance: none;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #6200ee;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Custom arrow for select */
select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    pointer-events: none;
    transform: translateY(-50%);
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #6200ee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

button:active {
    background-color: #6200ee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Input and button ripple effect */
.button-ripple, .input-ripple {
    position: relative;
    overflow: hidden;
}

.button-ripple::after, .input-ripple::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease, opacity 1s ease;
    opacity: 0;
    pointer-events: none;
}

.button-ripple:active::after, .input-ripple:focus::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: 0s;
}

/* Responsive Design */
@media (max-width: 768px) {
    form {
        max-width: 100%;
        padding: 15px;
    }

    button {
        padding: 10px;
        font-size: 14px;
    }

    select {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    form {
        padding: 10px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }

    select {
        font-size: 14px;
        padding: 8px;
    }

    label {
        font-size: 13px;
    }
}

select.pagesize, select.gotoPage {
    width: fit-content;
    padding: 5px;
}


/*Testing*/
/* Base Table Styles */
#results_table {
    margin: 20px 0;
    overflow-x: auto;
}

.tablesorter {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Header and Footer Styles */
.tablesorter thead th,
.tablesorter tfoot th {
    background-color: #6200ea; /* Material Design Purple */
    color: #ffffff;
    padding: 12px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px solid #512da8; /* Darker purple for bottom border */
}

.tablesorter tfoot th {
    background-color: #6200ea;
}

/* Body Row Styles */
.tablesorter tbody tr {
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
}

.tablesorter tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tablesorter tbody tr:hover {
    background-color: #eeeeee;
}

.tablesorter tbody td {
    padding: 12px;
    text-align: left;
    color: #424242;
}

/* Specific Column Styles */
#col-id,
#col-system,
#col-submitter,
#col-accelerator {
    font-weight: bold;
}
#col-id, .col-id {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    left: 0px;
}
td.col-result {
    min-width: 100px;
    text-align: right!important;
}
td.col-system, th.col-system {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    word-break: break-word;
    left: 80px;
}
td.col-submitter, th.col-submitter {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    word-break: break-word;
    left: 230px;
}
td.col-accelerator, th.col-accelerator {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    word-break: break-word;
    left: 350px;
}

td.count-submitter, th.count-submitter {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    left: 0px;
    background: white;
    font-weight: 600;
    font-size: Large;
    word-break: break-word;
    position:sticky;
}
.col-scenario {
    font-weight: 500;
    color: #6200ea;
    text-align: center;
}

.col-result {
    text-align: right;
    color: #303f9f; /* Material Design Blue */
    font-weight: 600;
}

.headcol {
  position: sticky;
  background:white;
  border:none!important;
}

.collapsible {
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.chart {
    /* padding: 0 18px; */
    display: none; /* Hidden by default */
    overflow: hidden;
    height: 500px;
    width: 100%;
    background-color: white;
}


/* Responsive Design */
@media (max-width: 768px) {
    .tablesorter thead,
    .tablesorter tfoot {
        display: none;
    }

    .tablesorter tbody tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .tablesorter tbody td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        text-align: right;
    }

    .tablesorter tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #6200ea;
        text-transform: uppercase;
    }

    .tablesorter tbody td:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .tablesorter tbody td:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}



</style>

  <!-- Add scripts that need to run afterwards here -->
{% endblock %}

{% block libs %}
  {{ super() }}
<!-- load jQuery and tablesorter scripts -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


<script type="text/javascript" src="thirdparty/tablesorter/dist/js/jquery.tablesorter.js"></script>
<!-- tablesorter widgets (optional) -->

<script type="text/javascript" src="thirdparty/tablesorter/dist/js/jquery.tablesorter.widgets.js"></script>
<script type="text/javascript" src="thirdparty/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js"></script>
  <!-- Add scripts that need to run before here -->
  <script src="https://cdn.canvasjs.com/ga/jquery.canvasjs.min.js"></script>
  
<script type="text/javascript" src="javascripts/config.js"></script>
<script type="text/javascript" src="javascripts/common.js"></script>
  <!-- Add scripts that need to run afterwards here -->
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type"text/javascript">
  var resort = true, // re-apply the current sort
        callback = function() {
          // do something after the updateAll method has completed
        };

      // let the plugin know that we made a update, then the plugin will
      // automatically sort the table based on the header settings
      $("table").trigger("updateAll", [ resort, callback ]);
  </script>

{% endblock %}

